@page "/login"
@layout BlankLayout
@using DYS.FinanceTracker.Features.Accounts.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@inherits MvvmComponentBase<AccountViewModel>


<div class="authentication-wrapper authentication-basic container-p-y d-flex justify-content-center">
    <div class="authentication-inner  w-px-500">
        <!-- Login -->
        <div class="card px-sm-6 px-0">
            <div class="card-body">
                <div class="d-flex justify-content-center">

                <div class="row">
                    <div class="text-center">
                        <h2 class="fw-bolder">Finance tracker</h2>
                    </div>
                        <div class="mb-2">
                            <TextComponent Id="email" @bind-Item="@BindingContext.Login.UserNameOrEmailAddress" Label="Email" />
                        </div>
                        <div class="mb-4">
                            <TextComponent Type="password" Id="email" @bind-Item="@BindingContext.Login.Password" Label="Password" />
                        </div>
   
                    <div class="mx-auto mb-2">
                        <ButtonComponent Id="save-expense"
                                         ActionText="Login"
                                         IsBusy="@BindingContext.IsBusy"
                                         OnClicked="@BindingContext.LoginAsync"
                                         Style="btn btn-md btn-slack w-100 d-grid" />
                    </div>
                   
                </div>
                </div>

                <div class="row">
                <p class="text-center">
                    <span>New on our platform?</span>
                    <a href="/registration">
                        <span>Create an account</span>
                    </a>
                </p>

                    <div class="mb-2 mx-auto">
                    <small class="@BooleanExtensions.GetConditionalString(@BindingContext.Notification.Success == true, "text-success", "text-danger")">@BindingContext.Notification.Description</small>
                </div>
                </div>
              
            </div>
        </div>
        <!-- /Login -->
    </div>
</div>


